body {
    background-color: #0093E9;
background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);
background-repeat: no-repeat;
}

header {
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0093E9;
    font-size: 48px;
    margin-bottom: 0;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    font-size: 18px;
}

.instructions {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.gallery {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.gallery ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-left: 0;


}

.gallery ul li img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.full_img {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.full_img img {
    width: 100%;
    max-height: 80vh;
    align-items: centers;
}

footer {
    text-align: center;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}